:root {
    --bg: #121212;
    --text: #e0e0e0;
    --primary: #90caf9;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #121212;
        --bg: #e0e0e0;
        --primary: #f99290;
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
}

p {
    color: gray;
}

.error-code {
    font-size: 48px;
    color: var(--primary);
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}